<!-- Welcome page -->
<div class="container container-styles">
    <div class="panel panel-default">
        <div class="panel-heading bgcolor">{{pageTitle}}</div>
        <div class="panel-body">
            <div class="row">
                <span class="img-responsive center-block logo-styles">
					<span class="glyphicon glyphicon-education"> </span>
                </span>
                <div id="div1" class="shadow title-styles">
                    BuildUp</div>

            </div>
            <br />
            <div class="row">
                <div class="text-center msg">A website to explore more of yourself!</div>
            </div>
        </div>
    </div>
</div>